.f4__content {
  text-align: center;
}

.f4__title {
  margin: 0 auto;
  margin-top: 70px;

  font-weight: bold;
  font-size: 24px;
  font-family: myriad-pro, sans-serif;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.f4__text {
  width: 981px;
  height: 141px;

  font-size: 14px;
  font-family: myriad-pro, sans-serif;
  text-align: left;
  color: #000000;
  letter-spacing: 0;
}
